<div>
    <h2 id="page-heading">
        <span jhiTranslate="concesionarioApp.gestorFichero.home.title">Gestor Ficheroes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gestor-fichero" [routerLink]="['/gestor-fichero/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="concesionarioApp.gestorFichero.home.createLabel">
            Create new Gestor Fichero
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gestorFicheroes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="concesionarioApp.gestorFichero.folder">Folder</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gestorFichero of gestorFicheroes ;trackBy: trackId">
                <td><a [routerLink]="['/gestor-fichero', gestorFichero.id, 'view' ]">{{gestorFichero.id}}</a></td>
                <td>{{gestorFichero.folder}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gestor-fichero', gestorFichero.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gestor-fichero', gestorFichero.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'gestor-fichero', { outlets: { popup: gestorFichero.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
