<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fichero-heading" jhiTranslate="concesionarioApp.fichero.home.createOrEditLabel">Create or edit a Fichero</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fichero.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="concesionarioApp.fichero.path" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                           formControlName="path"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="concesionarioApp.fichero.nombre_fichero" for="field_nombre_fichero">Nombre Fichero</label>
                    <input type="text" class="form-control" name="nombre_fichero" id="field_nombre_fichero"
                           formControlName="nombre_fichero"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="concesionarioApp.fichero.contentType" for="field_contentType">Content Type</label>
                    <input type="text" class="form-control" name="contentType" id="field_contentType"
                           formControlName="contentType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="concesionarioApp.fichero.ficheros" for="field_ficheros">Ficheros</label>
                    <select class="form-control" id="field_ficheros" name="ficheros" formControlName="ficheros">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gestorFicheroOption.id === editForm.get('ficheros').value?.id ? editForm.get('ficheros').value : gestorFicheroOption" *ngFor="let gestorFicheroOption of gestorficheroes; trackBy: trackGestorFicheroById">{{gestorFicheroOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
